# 服务器配置
DEV_API_PORT=3001
NODE_ENV=development

# 数据库配置
DB_NAME=todo_db
DB_USER=root
DB_PASSWORD=0000
DB_HOST=127.0.0.1
DB_PORT=3300
DB_DIALECT=mysql

# 数据库连接池配置
DB_POOL_MAX=20
DB_POOL_MIN=5
DB_POOL_ACQUIRE=60000
DB_POOL_IDLE=30000
DB_POOL_EVICT=10000

# JWT 配置
JWT_SECRET=my_super_secret_key_2026_abcdefg
JWT_EXPIRES_IN=7d

# Redis 配置
REDIS_HOST=127.0.0.1
REDIS_PORT=6379
REDIS_PASSWORD=